<html>
    <head>
        <title>Yessss</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="cartao">
            <form action="/verificar" method="post">
                <h1>Login</h1>
                <label>CPF</label>
                <input type="text" name="cpf">
                <label>Senha</label>
                <input type="password" name="senha">
                <button type="submit">ENTRAR</button>

            </form>

        </div>
    </body>
</html>